span.gridCell {
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  background: #E6AA6E;
  border: 2.5px solid #8E99E8;
  border-radius: 5px;
  display: inline-flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:10px;
  line-height:10px;
}

div.grid {
  height: 1050px;
  width: 1920px;
  opacity: 0.65;
}
