span.gridCell {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  background: #E6AA6E;
  border: 0.75px solid #8E99E8;
  border-radius: 2.5px;
  display: inline-flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:10px;
  line-height:10px;
}

div.grid {
  height: 1080px;
  width: 1920px;
  opacity: 0.85;
}
