

div#pageContainer {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div#rootContainer {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#contentContainer {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

div.spacer {
  flex: 0 1 auto;
}

router-outlet {
  display: none
}

:host ::ng-deep * {
  flex: 1 1 auto;
}

//div.spacer {
//  flex: 1 0 0;
//}

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 54px;
}

footer img.logo {
  height: 30px;
  flex: 0 0 30px;
}

footer div.spacer {
  flex: 0 1 20px;
}

footer div.baseline {
  position: relative;
  margin-top: 20px;
  bottom: 0;
  flex: 0 0 4px;
  background: #00A7D1;
}
