div#contentContainer {
  height: 521px;
  width: 824px;
  background: #FFFFFF;
  border: 1px solid #D7DADE;
  border-radius: 5px;
  position: relative;
}

video#player {
  position: relative;
  height: 200px;
  width: 300px;
  top: 80px;
  left: 260px;
  background: #000000;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
}

div#bebo {
  background: rgba(238,110,255,0.10);
  border: 1px solid #EE6EFF;
  border-radius: 100px;
  bottom: 84px;
  left: 32px;
  height: 28px;
  width: 28px;
  position: absolute;
}
