/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chorus-test-primary: mat-palette($mat-indigo);
$chorus-test-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chorus-test-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$chorus-test-theme: mat-light-theme($chorus-test-primary, $chorus-test-accent, $chorus-test-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chorus-test-theme);

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

// Plus imports for other components in your app.
html {
  margin: 8px;
}

body {
  margin: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: revert;
  color: #333333;
  background-color: rgba(247, 242, 227, 0.1);
  font-family: "San Francisco", Roboto, "Helvetica Neue", sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  height: 54px;
}

footer img.logo {
  display: block;
  height: 30px;
  margin: auto
}

footer div.baseline {
  margin-top: 20px;
  height: 4px;
  background: #00A7D1;
}

cai-app-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: 0;
}

router-outlet {
  display: none
}
